{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center my-5">
        <div class="col-10 col-md mx-3">
            <h1>What is <strong style="font-family: Jomolhari;">QuickLit</strong>?</h1>
            <p class="info-text">
                QuickLit is the go-to destination for savvy students who want to buy and sell course literature directly
                to their peers. We've created a seamless platform that connects buyers and sellers, eliminating the
                middleman and saving you heaps of cash in the process. It's time to take control of <strong>your
                    education</strong> and
                <strong>your budget</strong>!
                <br><br>
                QuickLit is more than just a marketplace - it's a thriving community
                of motivated students. Engage with fellow learners, share valuable insights, and even form study groups.
                With QuickLit, you'll never feel alone in your pursuit of knowledge.
            </p>
        </div>
        <div class="col-10 col-md mx-3">
            <img src="https://res.cloudinary.com/dvwfilwf6/image/upload/v1684941954/couple-having-break-from-school_rwqcod.jpg"
                class="img-fluid rounded" alt="">
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center my-5">
        <div class="col-10 col-md mx-3">
            <img class="img-fluid rounded" alt=""
                src="https://res.cloudinary.com/dvwfilwf6/image/upload/v1684938415/student-sharing-her-knowledge-with-her-colleagues_1_dlqr4i.jpg">
        </div>
        <div class="col-10 col-md mx-3 my-3">
            <h1>Why should you choose <strong style="font-family: Jomolhari;">QuickLit</strong>?</h1>
            <h3>Well, let us break it down for you:</h3>
            <h4>Unbeatable Savings</h4>
            <p>
                Say goodbye to jaw-dropping price tags! With QuickLit, you can find the textbooks
                you need at prices that won't leave your bank account crying. Our platform enables you to snag
                incredible deals on pre-loved textbooks from fellow students who have already aced their courses. Get
                the same high-quality material at a fraction of the cost!
            </p>
            <h4>Vast Selection</h4>
            <p>
                QuickLit boasts an extensive range of course literature. Whether you're searching for
                that must-have biology textbook, a comprehensive history guide, or a specialized engineering manual, our
                marketplace has got you covered. Discover a treasure trove of titles that will help you succeed in your
                academic journey, all in one convenient place.
            </p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center my-5">
        <div class="col-10 col-md mx-3 mt-3">
            <h4>So, why wait?</h4>
            <p>
                Join the QuickLit revolution today and unlock a world of affordable course literature
                right at your fingertips. Don't let the textbook industry hold you back - take charge, save money, and
                excel academically with QuickLit, the ultimate student-to-student marketplace!
            </p>
            <h5>and remember...</h5>
            <p>
                At QuickLit, we believe in empowering students like you to conquer their educational journey
                without breaking the bank. Together, let's rewrite the rules of textbook shopping and make expensive
                textbooks a thing of the past. <a href="{% url 'signup' %}">Join <strong
                        style="font-family: Jomolhari;">QuickLit</strong> now</a> and experience the future of
                affordable course
                literature!
            </p>
        </div>
        <div class="col-10 col-md mx-3">
            <img src="https://res.cloudinary.com/dvwfilwf6/image/upload/v1684942357/low-angle-cheerful-team-students-passed-test-by-preparing-all-together_aff968.jpg"
                class="img-fluid rounded" alt="">
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-10 col-md mx-3">
            <img class="img-fluid rounded" alt="">
        </div>
        <div class="col-10 col-md mx-3">
            <p>

            </p>
        </div>
    </div>
</div>

{% endblock %}