{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A user to user marketplace for student literature">
  <meta name="keywords" content="student literature, course literature, student, school">
  <title>{% block title %}QuickLit|{% endblock %}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous">
  </script>
  <link rel="stylesheet" href=" {% static 'css/style.css' %}">
  <link rel="icon" type="image/x-icon" href=" {% static 'favicon.ico' %}">

</head>
<!-- Classes on body tag to make footer stay at bottom of page rather than to stick to bottom of pages content -->

<body class="d-flex flex-column min-vh-100">
  <nav class="navbar navbar-expand-lg bg-ql-blue p-4 shadow">
    <div class="container-fluid">
      <a class="navbar-brand" style="font-family: Jomolhari; color: #fff; font-size: x-large;"
        href="{% url 'index' %}">QuickLit</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
          </li>
          <li class="nav-item">
            {% if request.user.is_authenticated %}
            <a class="nav-link" href="{% url 'newad' %}">Make a sales ad</a>
            {% else %}
            <a class="nav-link" href="{% url 'signup' %}">Make a sales ad</a>
            {% endif %}
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'search' %}">Search for books</a>
          </li>
        </ul>
        {% if request.user.is_authenticated %}
        <a href="{% url 'inbox' %}" class="btn btn-primary shadow">Inbox</a>
        <a href="{% url 'profile' %}" class="btn btn-primary shadow mx-2">Profile Overview</a>
        <a href="{% url 'logout' %}" class="btn btn-secondary">Log Out</a>
        {% else %}
        <a href="{% url 'signup' %}" class="btn btn-primary shadow">Sign Up</a>
        <a href="{% url 'login' %}" class="btn btn-secondary mx-2">Log In</a>
        {% endif %}
      </div>
    </div>
  </nav>
  <main>
    {% block content %}

    {% endblock %}
  </main>
  <footer class="container-fluid mt-auto p-4 text-center shadow-lg">
    <div class="row">
      <div class="col-4">
        <a href="#" target="_blank">About QuickLit™</a>
      </div>
      <div class="col-4">
        <p class="text-muted">Copyright 2023 - All rights reserved - Alexander Glemme</p>
      </div>
      <div class="col-4">
        <p class="text-muted">Contact information: <br> Email: quicklit@gmail.com</p>
      </div>
      <div class="row justify-content-center">
        <div class="col-4">
          <p>
            <a class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#short-disclaimer" role="button"
              aria-expanded="false" aria-controls="short-disclaimer">
              Terms of use
            </a>
          </p>
          <div class="collapse" id="short-disclaimer">
            <div class="card card-body bg-ql-blue text-light text-right">
              Though the website is fully functional, and you can indeed contact users to buy
              books, the main purpose of this website is for me to build, learn and grow as a developer. Therefore any
              incidents or harm caused to you as a sovereign individual as a result of your
              activity on this platform will not be compensated.
              As of now, the admin of this website has access to all or any messages you send and/or recieve.
              That being said, I (the admin and creator of QuickLit) want to make it clear that you as a user should not
              share any sensitive information that you are not
              comfortable with sharing openly, under any circumstance, on this website.
            </div>
          </div>
        </div>
      </div>
  </footer>
</body>

</html>