{% extends 'base.html' %}

{% block title %}Inbox{% endblock %}

{% block content %}

{% for conversation in conversations %}
{% if user.get_username in conversation.members.first %}
<a href="{% url 'active' conversation.id %}">{{ conversation.ad.title }} | {{ conversation.members.last }} </a>
{% else %}
<a href="{% url 'active' conversation.id %}">{{ conversation.ad.title }} | {{ conversation.members.first }} </a>
{% endif %}
{% empty %}
<h1>You have no active conversations, find an ad and contact a seller!</h1>
{% endfor %}

{% endblock %}