{% extends 'base.html' %}

{% block content %}

<div class="containter-fluid no-gutter text-center" id="hero">
    <div class="container">
        <div class="row">
            <div class="col h-100 text-center rounded" id="hero-text">
                <h1 class="">Welcome to <i style="font-family: Jomolhari;">QuickLit</i> - Your second hand marketplace
                    for student literature</h1>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid text-center mt-5">
    <div class="row">
        <div class="col-md">
            <h1>Newest items</h1>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
            {% for ad in salesad_list|slice:":4" %}
            <div class="col-md-3">
                <div class="card mb-4 shadow">
                    <div class="card-body">
                        <div class="image-container mb-3 px-5 rounded">
                            {% if "placeholder" in ad.item_image.url %}
                            <img class="d-block w-100 card-img-top" alt="..." style="height: 170px;"
                                src="https://res.cloudinary.com/dvwfilwf6/image/upload/v1682277085/f4a36f6589a0e50e702740b15352bc00e4bfaf6f58bd4db850e167794d05993d_vha1q4.jpg">
                            {% else %}
                            <img class="d-block w-100 card-img-top index-image" alt="..." style="height: 170px;"
                                src=" {{ ad.item_image.url }}">
                            {% endif %}
                        </div>
                        <div class="container justify-content-around">
                            <a href=" {% url 'detail' ad.slug %}" class="ad-link">
                                <h5 class="card-title mt-5" style="height: 5rem;">{{ ad.title }}</h5>
                            </a>
                        </div>
                        <p class="card-text">Author: {{ ad.author }}</p>
                        <p class="card-text">Price: {{ ad.price }} SEK</p>
                        <a href="#">
                            <button type="button" class="btn btn-primary btn-sm">Contact Seller</button>
                        </a>
                        <hr class="mt-4">
                        <p class="card-text text-muted h6">Seller: {{ ad.seller }}</p>
                        <p class="card-text text-muted h6">Posted: {{ ad.created_on }}</p>
                        <p class="card-text text-muted h6">Location: {{ ad.city }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
    </div>
</div>
{% endblock %}