{% extends 'base.html' %}

{% block title %} {% endblock %}

{% block content %}

<div class="container-fluid text-center mt-5">
    <div class="row">
        <div class="col-md">
            <h1>{{ user.username }}</h1>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row mt-5">
        {% for ad in ads %}
        <div class="col-10 col-sm-5 col-md-4 col-lg-3 col-xl-2">
            <div class="card mb-4 shadow">
                <div class="card-body">
                    <div class="card-img-top mb-3 px-3 rounded">
                        {% if "placeholder" in ad.item_image.url %}
                        <img class="d-block w-100 card-img-top" alt="..." style="height: 12rem;"
                            src="https://res.cloudinary.com/dvwfilwf6/image/upload/v1682277085/f4a36f6589a0e50e702740b15352bc00e4bfaf6f58bd4db850e167794d05993d_vha1q4.jpg">
                        {% else %}
                        <img class="d-block w-100 card-img-top index-image" alt="..." style="height: 12rem;"
                            src=" {{ ad.item_image.url }}">
                        {% endif %}
                    </div>
                    <div class="col">
                        <a href=" {% url 'detail' ad.slug %}" target="_blank">
                            <p class="card-title">{{ ad.title }}</p>
                        </a>
                    </div>
                    <p class="card-text">Author: {{ ad.author }}</p>
                    <p class="card-text">Price: {{ ad.price }} SEK</p>
                    <div class="card-footer">
                        <p class="card-text text-muted h6">Seller: {{ ad.seller }}</p>
                        <p class="card-text text-muted h6">Posted: {{ ad.created_on }}</p>
                        <p class="card-text text-muted h6">Location: {{ ad.city }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="row">
            <div class="col">
                <p>You have no active sales ads, but feel free to navigate to "Make a sales ad" to make one!</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}