{% extends 'base.html' %}

{% block title %}Search Ads{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center mt-5">
        <div class="col">
            <form method="GET" action="/search/">
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" name="query" value="{{ query }}" class="form-control rounded"
                        placeholder="Search for title, author, seller, category, city or description"
                        aria-label="Search" aria-describedby="search-addon" />
                    <button type="submit" class="btn btn-outline-primary">Search</button>
            </form>
        </div>
    </div>
</div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 mt-4">
            <div class="row">
                {% for ad in ads %}
                <div class="col-md-4 col-lg-3">
                    <div class="card mb-4 shadow">
                        <div class="card-body">
                            <div class="image-container mb-3 px-5 rounded">
                                {% if "placeholder" in ad.item_image.url %}
                                <img class="d-block w-100 card-img-top" alt="..." style="height: 170px;"
                                    src="https://res.cloudinary.com/dvwfilwf6/image/upload/v1682277085/f4a36f6589a0e50e702740b15352bc00e4bfaf6f58bd4db850e167794d05993d_vha1q4.jpg">
                                {% else %}
                                <img class="d-block w-100 card-img-top index-image" alt="..." style="height: 170px;"
                                    src=" {{ ad.item_image.url }}">
                                {% endif %}
                            </div>
                            <div class="container justify-content-around">
                                <a href=" {% url 'detail' ad.slug %}" class="ad-link">
                                    <h5 class="card-title mt-5" style="height: 5rem;">{{ ad.title }}</h5>
                                </a>
                            </div>
                            <p class="card-text">Author: {{ ad.author }}</p>
                            <p class="card-text">Price: {{ ad.price }} SEK</p>
                            <a href="{% url 'new_chat' ad.id %}">
                                <button type="button" class="btn btn-primary btn-sm">Contact Seller</button>
                            </a>
                            <hr class="mt-4">
                            <p class="card-text text-muted h6">Seller: {{ ad.seller }}</p>
                            <p class="card-text text-muted h6">Posted: {{ ad.created_on }}</p>
                            <p class="card-text text-muted h6">Location: {{ ad.city }}</p>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="row">
                    <div class="col">
                        <p>Sorry, no matches... Please check your query for typos or try another search word</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}