{% extends 'base.html' %}

{% block title %}Sign up{% endblock %}

{% block content %}
<div class="container my-5 text-center">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="card shadow-lg">
        <div class="card-header">
          <h3 class="mb-0">Sign Up</h3>
        </div>
        <div class="card-body">
          <form method="POST">
            {% csrf_token %}
            {% for field in form %}
              <div class="mb-3">
                {{ field.label_tag }}
                <br>
                {{ field }}
                {% for error in field.errors %}
                  <div class="invalid-feedback d-block">{{ error }}</div>
                {% endfor %}
              </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Sign Up</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
